button {
    /* 생략 */
    margin: 0;
    padding: 0.5rem 1rem;
  
    font-family: "Noto Sans KR", sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    
    text-decoration: none;
  
    display: inline-block;
    width: 100px;
    height: 30px;
    border: none;
    /* border-radius: 4px; */
    overflow-x:hidden ;
    overflow-y:hidden;
    white-space:nowrap;
  }
  h6{
      width: 300px;
      height: auto;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
  }
  body{
      width: 515px;
  }